html {
   background: url("../images/Library_Background.png");
   background-repeat: no-repeat;
   background-size: cover;
}
    
nav a {
   color: white;
    padding: 0px 10px;
}

nav {
  background-color: #FFFFFF;
  padding: 10px 3px;
  

}


h1 {
	background-color: #FFFFFF;
	padding: 0px 10px;
	  
  
}


	

	


	
	